<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>


<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <a href="/teams" class="text-white text-decoration-none d-flex align-items-center me-4 custom-back-button">
        <ion-icon name="arrow-back-outline" class="ms-2" style="font-size: 1.5rem; color: white;"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title class="custom-title">{{ team?.strTeam }}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="team">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ team.strTeam }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="team.strBadge" alt="{{ team.strTeam }} logo" class="p-2 mb-3">
      <p><strong>Stadium :</strong> {{ team.strStadium }}</p>
      <p><strong>Founded :</strong> {{ team.intFormedYear }}</p>
      <p><strong>Description :</strong> {{ team.strDescriptionEN }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
