
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="/teams" class="text-white text-decoration-none d-flex align-items-center">
        <ion-icon name="arrow-back-outline" class="me-2" style="font-size: 1.5rem; color: white;"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ team?.strTeam }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="team">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ team.strTeam }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="team.strBadge" alt="{{ team.strTeam }} logo">
      <p><strong>Stadium:</strong> {{ team.strStadium }}</p>
      <p><strong>Founded:</strong> {{ team.intFormedYear }}</p>
      <p><strong>Description:</strong> {{ team.strDescriptionEN }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
