<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<ion-content [fullscreen]="true">
  <ion-grid class="menu mt-1 mb-0">
    <ion-row class="d-flex justify-content-start">
      <ion-col class="scroll-container">
        <div class="tabs-container">
          <div *ngFor="let week of gameweeks" class="btn py-1 px-2 mx-1 text-white rounded-3"
             href="#" role="button"
             [ngClass]="{'active': currentGameweek === week, 'inactive': currentGameweek !== week}" 
             (click)="changeGameweek(week)">
            Gameweek {{ week }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="mt-0">
    <ion-card *ngFor="let match of matches" class="shadow-sm border-0">
      <ion-row class="match with-border align-items-center mb-1">
        <ion-col class="club ion-text-center mt-2">
          <img [src]="match.strHomeTeamBadge" height="40" />
          <p class="mt-2 mb-0">{{ match.strHomeTeam }}</p>
        </ion-col>
        <ion-col class="club ion-text-center mt-3">
          <p class="mb-0">{{ match.strLeague }}</p>
          <div class="d-flex justify-content-center">
            <ion-label class="text-white">{{ match.intHomeScore }}</ion-label>
            <span class="mx-2">:</span>
            <ion-label class="text-white rounded">{{ match.intAwayScore }}</ion-label>
          </div>
          <p>{{ match.strVenue }}</p>
        </ion-col>
        <ion-col class="club ion-text-center mt-2">
          <img [src]="match.strAwayTeamBadge" height="40">
          <p class="mt-2 mb-0">{{ match.strAwayTeam }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
