.custom-toolbar {
  --background: #08233e;
}
ion-content {
  --background: #08233e;
}
ion-card {
  --background: #17314c;
}

.custom-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.custom-back-button {
  margin-left: 15px;
  position: absolute;
  left: 0;
}

.custom-title {
  text-align: center;
  flex-grow: 1;
}

ion-card {
  margin: 10px 0;
}

ion-card-content {
  padding: 10px;
}

.match {
  display: flex;
  align-items: center;
}

.club img {
  margin-bottom: 5px;
}
p{
  font-size: 10px;
}