<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">
      <div class="title-container">English Premier League</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="align-items-center mt-1">
    <ion-col>
      <ion-card-title class="mx-1 my-0">Teams</ion-card-title>
    </ion-col>
    <ion-col class="d-flex justify-content-end align-items-center mx-2 g-1">
      <a href="/teams" class="text-white text-decoration-none d-flex align-items-center">
        See all
        <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
  <ion-card>
    <div style="position: relative; display: inline-block; width: 100%;">
      <img
        alt=""
        src="./assets/bg-livescore.png"
        style="width: 100%; height: auto; filter: brightness(60%);"
      />
      <img
        alt="Logo"
        src="./assets/logoPL.png"
        style="position: absolute; top: 10px; right: 10px; width: 50px; height: auto;"
      />
      <!-- <div class="text-white" style="position: absolute; bottom: 10px; left: 15px;">
        <a
          href=""
          style="
            color: white;
            font-size: 10px;
            background-color: #4D68DA;
            padding: 2px 5px;
            border-radius: 5px;
            text-decoration: none;
          "
          >Live Score</a
        >
        <h6 class="p-0 m-0">Liverpool vs Arsenal</h6>
        <h6>Premier League</h6>
        <p>Anfield, Liverpool</p>
      </div> -->
      <div style="position: absolute; bottom: 10px;"></div>
    </div>
  </ion-card>

  <ion-grid class="my-0">
    <ion-row class="align-items-center">
      <ion-col>
        <ion-card-title class="mx-1 my-0">Latest Result</ion-card-title>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center mx-2 g-1">
        <a href="/results" class="text-white text-decoration-none d-flex align-items-center">
          See all
          <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="latestResult">
    <ion-row class="match with-border ion-align-items-center">
      <ion-col class="club ion-text-center">
        <img [src]="latestResult.strHomeTeamBadge" height="60" />
        <p>{{ latestResult.strHomeTeam }}</p>
        <br />
      </ion-col>
      <ion-col class="club ion-text-center ion-justify-content-center">
        <p>{{ latestResult.strLeague }}</p>
        <ion-label color="success">{{ latestResult.intHomeScore }}</ion-label>
        -
        <ion-label color="success">{{ latestResult.intAwayScore }}</ion-label>
        <p>{{ latestResult.strVenue }}</p>
      </ion-col>
      
      <ion-col class="club ion-text-center">
        <img [src]="latestResult.strAwayTeamBadge" height="60" />
        <p>{{ latestResult.strAwayTeam }}</p>
        <br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr class="mx-2 my-0" />

  <ion-grid class="my-0">
    <ion-row class="align-items-center">
      <ion-col>
        <ion-card-title class="mx-1 my-0">Upcoming match</ion-card-title>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center mx-2 g-1">
        <a href="/schedules" class="text-white text-decoration-none d-flex align-items-center">
          See all
          <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="upcoming">
    <ion-row class="match with-border ion-align-items-center">
      <ion-col class="club ion-text-center">
        <img [src]="upcoming.strHomeTeamBadge" height="60" />
        <p>{{ upcoming.strHomeTeam }}</p>
        <br />
      </ion-col>
      <ion-col class="club ion-text-center">
        <p>{{ upcoming.strLeague }}</p>

        <p>{{ upcoming.strVenue }}</p>
        <p>{{ upcoming.dateEvent }}</p>
        <p>{{ upcoming.strTime }}</p>
      </ion-col>
      <ion-col class="club ion-text-center">
        <img [src]="upcoming.strAwayTeamBadge" height="60" />
        <p>{{ upcoming.strAwayTeam }}</p>
        <br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr class="mx-2 my-0" />

  <!-- <ion-grid class="my-0">
    <ion-row class="align-items-center">
      <ion-col>
        <ion-card-title class="mx-1 my-0">News</ion-card-title>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center mx-2 g-1">
        <a href="" class="text-white text-decoration-none d-flex align-items-center">
          See all
          <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="match with-border">
      <ion-col class="img-news py-2" size="auto">
        <img
          src="https://e0.365dm.com/19/10/2048x1152/skysports-premier-league-top-four_4793134.jpg?20191002140710"
          height="70"
          class=""
        />
      </ion-col>
      <ion-col class="judul p-2">
        <h6>Premier League - <span id="date-time">July 6, 2024 14:00</span></h6>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
          unde delectus fugit eos dolor necessitatibus.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="mx-2 my-0" />
  <ion-grid class="my-0">
    <ion-row class="align-items-center">
      <ion-col>
        <ion-card-title class="mx-1 my-0">Videos</ion-card-title>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center mx-2 g-1">
        <a href="" class="text-white text-decoration-none d-flex align-items-center">
          See all
          <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="match with-border">
      <ion-col class="img-news py-2" size="auto">
        <img
          src="https://e0.365dm.com/19/10/2048x1152/skysports-premier-league-top-four_4793134.jpg?20191002140710"
          height="70"
          class=""
        />
      </ion-col>
      <ion-col class="judul p-2">
        <h6>Premier League - <span id="date-time">July 6, 2024 14:00</span></h6>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
          unde delectus fugit eos dolor necessitatibus.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
