.custom-toolbar {
  --background: #08233e;
}
ion-content {
  --background: #08233e;
}
ion-card-title {
  margin: 10px 15px;
  font-size: 16px;
}
.tournament {
  margin: 0px 7px;
}
.tournament ion-col {
  background-color: #17314c;
  padding: 5px;
  margin: 0px 5px;
  border-radius: 5px;
}
.match {
  margin: 0px 7px;
  border-radius: 5px;
  background-color: #17314c;
  padding: 2px 10px;
}
.match ion-col {
  padding: 0px 10px;
}
.match p {
  font-size: 10px;
  font-weight: 100;
}
.club img{
  padding-top: 15px;
}
.club p{
  margin: 0px;
}
.with-border {
  border-bottom: 1px solid #dcdcdc; /* Adjust the color and thickness as needed */
  margin-bottom: 10px; /* Optional: adds some space between the rows */
}

.club img {
  display: block;
  margin: 0 auto 10px auto;
}
.judul h6{
  font-size: 10px;
}
.judul h6 span{
  font-size: 10px;
  font-weight: 100;
}
.judul p{
  font-size: 8px;
  margin-bottom: 0px;
}
