<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<ion-content>
  <!-- <ion-grid class="d-flex justify-content-between m-1">
    <ion-col>
      Back
    </ion-col>
    <ion-col class="text-center">
      Tournament
    </ion-col>
    <ion-col class="text-end">
      Search
    </ion-col>
  </ion-grid> -->
  <ion-card style="background-color: #4D68DA;" class="d-flex justify-content-center py-4">
    <img src="./assets/PL_horizontal.png" alt="" height="60px">
  </ion-card>
  <!-- <ion-grid class="menu">
    <ion-row class="d-flex justify-content-between">
      <ion-col>
        <a class="btn py-1 px-2 mx-0 my-0 text-white mx-0 rounded-3" href="#" role="button" style="background-color: #4D68DA; font-size: 12px;">Standings</a>
      </ion-col>
      <ion-col>
        <a class="btn py-1 px-1 mx-0 my-0 text-white mx-0" href="#" role="button" style="background-color: none; font-size: 12px;">Top Score</a>
      </ion-col>
      <ion-col>
        <a class="btn py-1 px-1 mx-0 my-0 text-white mx-0" href="#" role="button" style="background-color: none; font-size: 12px;">Assist</a>
      </ion-col>
      <ion-col>
        <a class="btn py-1 px-1 mx-0 my-0 text-white mx-0" href="#" role="button" style="background-color: none; font-size: 12px;">Clearance</a>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-card style="background-color: #17314c;" class="px-1 py-2">
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col">Pos</th>
          <th scope="col">Team</th>
          <th scope="col">G</th>
          <th scope="col">W</th>
          <th scope="col">D</th>
          <th scope="col">L</th>
          <th scope="col">GF</th>
          <th scope="col">GA</th>
          <th scope="col">PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of standings">
          <th scope="row">{{ team.intRank }}</th>
          <td>{{ team.strTeam }}</td>
          <td>{{ team.intPlayed }}</td>
          <td>{{ team.intWin }}</td>
          <td>{{ team.intDraw }}</td>
          <td>{{ team.intLoss }}</td>
          <td>{{ team.intGoalsFor }}</td>
          <td>{{ team.intGoalsAgainst }}</td>
          <td>{{ team.intPoints }}</td>
        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>
